// COLORS
$light-color: #FFF;
$dark-color: #000;

//BUTTONS
$button-color: rgba(183, 21, 64, 0.6);
$button-background-color: #4a69bd;
$button-text-color: #181823;

@mixin button-style {
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 5rem;
    border-radius: 1rem;
    width: 15em;
    background-color: $button-background-color;
    color: $button-text-color;
    opacity: 0.6;
    box-shadow: 0 0 0.4rem #dfd9d9;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    &:active {
      color: white;
      box-shadow: 0 0.2rem #dfd9d9;
      transform: translateY(0.2rem);
    }
  
    &:hover:not(:disabled) {
      background: $button-color;
      color: white;
      text-shadow: 0 0.1rem #bcb4b4;
    }
  
    &:disabled {
      cursor: auto;
      color: grey;
    }
}

// TITLES
$underline-color: #facf0f;

@mixin title {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-variant: small-caps;
    margin-bottom: 4rem;
    @include title-shadow;
}

@mixin title-shadow{
    @keyframes title-shadow {
        0% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #0c2ffb, 
                0 0 0 #2cfcfd, 
                0 0 0 #fb203b, 
                0 0 0 #fefc4b;
        }
    
        20% {  
            transform: translateY(-1em);
            text-shadow: 
                0 0.125em 0 #0c2ffb, 
                0 0.25em 0 #2cfcfd, 
                0 -0.125em 0 #fb203b, 
                0 -0.25em 0 #fefc4b;
        }
    
        40% {  
            transform: translateY(0.5em);
            text-shadow: 
                0 -0.0625em 0 #0c2ffb, 
                0 -0.125em 0 #2cfcfd, 
                0 0.0625em 0 #fb203b, 
                0 0.125em 0 #fefc4b;
        }
        
       60% {
            transform: translateY(-0.25em);
            text-shadow: 
                0 0.03125em 0 #0c2ffb, 
                0 0.0625em 0 #2cfcfd, 
                0 -0.03125em 0 #fb203b, 
                0 -0.0625em 0 #fefc4b;
        }
    
        80% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #0c2ffb, 
                0 0 0 #2cfcfd, 
                0 0 0 #fb203b, 
                0 0 0 #fefc4b;
        }
    }
    
    animation: title-shadow 1.5s ease-in-out;  
}

@mixin underline {
    content: '';
    position: absolute;
    top: calc(32% + 1.5rem);
    height: 5px;
    width: 5rem;
    background: $underline-color;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}