@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  --color-background: 250 249 242;
  --color-paper: 242 240 231;
  --color-text-primary: 0 0 0;
  --color-text-secondary: 38 38 38;

  --color-primary: 113 98 75;
  --color-secondary: 59 53 43;
}

#app.dark {
  --color-background: 18 18 17;
  --color-paper: 36 35 31;
  --color-text-primary: 255 255 255;
  --color-text-secondary: 217 217 217;

  --color-primary: 203 185 159;
  --color-secondary: 232 225 217;
}

#app {
  @apply bg-background text-skin-primary;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}
