@use '../../styles/config.scss';

.about {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 84vh;
}

.aboutTitle {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    font-variant: small-caps;
    margin-bottom: 4rem;
    @include config.title-shadow;
}

.aboutTitle::after {
    content: '';
    position: absolute;
    top: calc(32% + 1.5rem);
    height: 5px;
    width: 5rem;
    background: #facf0f;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.aboutDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
  
.aboutParaph {
    flex: 1;
    margin-right: 2rem;
}

.aboutText {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    opacity: 0.6;
}

.bold {
    font-weight: bold;
}

.button {
    display: flex
}

.aboutButton {
    @include config.button-style;
}
  
.aboutSkills {
    flex: 1;
    margin-left: 2rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 15px;
    font-weight: 600;
    opacity: 0.6;
    text-align: center;
}

.skill:hover {
    cursor: default;
    color: config.$button-color;
}